<!DOCTYPE html>
<html lang="en">
  <!-- ts -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue con CDN</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../css/ejercicio.css">
  </head>
  <body>
    <header></header>
    <nav></nav>
    <section>
      <!-- <p>{{false ? 'Verdadero' : 'Falso'}}</p> -->
      <div class="container">
        <div class="form" id="myApp">
          
          
          <label for="idNombre">Nombre:</label>
          <input v-model="nombre" id="idNombre" type="text" />
          <label for="idApellido">Apellido:</label>
          <input
          @keypress.enter="presionarTecla"
          v-model="apellido"
          id="idApellido"
          type="text"
          />
          <button @click="agregar">Agregar</button>
          {{nombre}}
          
          <ul v-for="({nombre,apellido}, index) in lista" :key="index">
            <li v-if="nombre != undefined && nombre != '' " >
              <label v-show="false" for="">Nombre</label>
              {{index + 1}} :
              <label id="{{index}}" for="">{{nombre}} => {{apellido}}</label>
              <button @click="quitar(index)">{{editar}}</button>
            </li>
          </ul>
          <p>{{lista}}</p>
          </div>
      </div>
      
      <!-- <h1>{{1+1}}</h1> -->
      <script src="../js/ejercicio.js"></script>
    </section>
    <footer></footer>
  </body>
</html>
